@CHARSET "UTF-8";

.slideAcoplado{
    width: 100%!important; 
    padding: 0px!important;
}
.figuraSlider{
	    text-align: center;	   	
    	height: 100%;
    	margin-left: 0px;
    	margin-right: 0px;
    	background-color: white;
    	margin-top: 0px;
}
.escaladofig{	
	width: 25%
}

.imagenFondoCajamarca{
	    z-index: -2;
    position: fixed;
    width: 100%;
}
.derecho{	
	float:left;
	width: 69%;
	margin-left: 0px;
	text-align: center;	
}
.izquierdo{
	float:right;
	width: 30%;
	height: 163vw;
	color: black;
	margin-right: 0px;
}
.izquierdoInforme{
	float:right;
	width: 30%;
	height: 177vw;
	color: black;
	margin-right: 0px;

}
.InformacionDist{
	    text-align: justify;
}

.derechoInforme{	
	float:left;
	width: 59%;
	text-align: center;	
	margin-left: 10%;
	color: black;
	border-right: solid white;
	padding: 2%;
}
#tituloNombre{
	text-align: center;
	color:white;
	font:bold 2em verdana, sans-serif;
	margin: 0px;	
}
#header{
	padding: 25px;
	background-color: #0288d1;
	margin: 0px;
	
}
#titfrase{
	margin-top:2em;
	color:#a72186;
	font: bold 2em Georgia, serif;    
}
#frase{
	text-align: center;
	font:  1.5em Georgia, serif;    
}
#piefrase{
	font: bold 1em Georgia, serif;    
	margin-bottom: 3em;
}
#botonMenu{
	color:white;
	background-color: transparent;
	position: fixed;
	z-index: 1;
	text-shadow: rgb(0,0,0) 3px 3px 5px;

}

body{	
	color:#424242;
}
.cabeceraArticulo{
	text-align: center;
}
.barramenu{
	z-index: 2;
	background-color: rgba(97, 97, 97, 0.7)!important;
}

.menuA{
	width:24%!important;
}

.barraSocial{
	z-index: 2;
	background-color: rgba(97, 97, 97, 0.7)!important;	   
	    height:15em;
	    width:10%;
	   margin-bottom: 0%; 
	   margin-top: 20%
	   
	    
}


.faseult{
	background-color: #5c2e91;
	color: white;
}


#pie{
	clear: both;
	text-align:center;
	padding:20px;
	border-top:2px solid #999999;
	background-color: #0288d1;
	    position: relative;
	        z-index: 10;
}

.audioAside{
	margin-left: 20%;
	width: 60%;
	border-color: black;
    border: solid;
}
.figureAside{
	margin-left: 20%;
	width: 60%;
	border-color: black;
    border: solid;
}

.imgAside{
	width: 100%;
	}
.textoAside{
	margin: 5%;
	font: bold 1.5vw Verdana, sans-serif;  
}
.display{
	padding: 10px;
}
.sidebarMenu{
	width: 10%;
}
.habilidad{
	clear:both;
	margin-left: 0px; 	
 	columns: 3;
 	height: initial;
 	text-align: center;
 	padding-top: 2em;
}
.tithab{
	font: bold 2vw Georgia, serif;  
}
 #contenedorhab{
 margin: 2vw;
 margin-bottom: 8vw;
 }
 .texthab{
	font: bold 1vw Georgia, serif;	
	padding: 1vw;
	border: solid #5c2e91;
	margin: 0vw 2vw;
	text-align: center;
	    width: 20vw;
    margin-left: auto;	
 }
 
.numer{
	text-align: center;
	border: 6px solid #0089d0;	
	width: 4em;
    padding: 1.5em;
    border-radius: 100px;
   font:bold 2em verdana, sans-serif;
   color:#a72186;
}
.textodenum{	
	font:bold 1em verdana, sans-serif;
	width: 8em;
	padding: 1.5em;
	color: black;
}

#cuadro{
	clear: both;
	float: left;
	margin:0px;
	width: 100%;
}

#cuadroInf{
	clear: both;
	float: left;
	margin:0px;
	width: 90%;
	margin-left:10%;	
}
.masinfoico{
 	margin-left: 0px; 	
 	columns: 4;
 	height: initial;
 	text-align: center;
 	padding-top: 2em;
 }
 .icono{
	font: bold 11vw Georgia, serif;
	margin: 0px;
 }
 .texticono{
	font: bold 2vw Georgia, serif;
	margin: 0px;
 }
 #titico{
 	clear: both;
 	font: bold 2vw Georgia, serif;    
 }

.titnav{
	background-color: black!important;
	color: white!important;
}

/*grafico de pastel*/


.grafico {
    height: 200px;
    margin: 1rem auto;
    position: relative;
    width: 200px;
        background-color: #fff;
    border-radius: 50%;
      } 
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
     }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
     }


#porcion1 {
    transform: rotate(0deg);
     }

#porcion1 .quesito {
    background-color: rgba(0,0,255,.7);
    transform: rotate(70deg);
     }
#porcion2 {
    transform: rotate(70deg);
     }
#porcion2 .quesito {
    background-color: rgba(255,255,0,.7);
    transform: rotate(120deg);
     }
#porcion3 {
    transform: rotate(-170deg);
     }
#porcion3 .quesito {
    background-color: rgba(0,128,0,.7);
    transform: rotate(25deg);
     }
#porcionFin {
    transform:rotate(-145deg);
     }
#porcionFin .quesito {
    background-color: rgba(255,0,0,.7);
    transform: rotate(145deg);
     }
#porcion1 .quesito:after {
    content: attr(data-rel);
    left: 25%;
    line-height: 5;
    position: absolute;
    top: 0;
    transform: rotate(-70deg);
}
#porcion2 .quesito:after {
    content: attr(data-rel);
    left: 15%;
    position: absolute;
    top: 30%;
    transform: rotate(-190deg);
}
#porcion3 .quesito:after {
    content: attr(data-rel);
    left: 35%;
    position: absolute;
    top: 4%;
    transform: rotate(70deg);
}
#porcionFin .quesito:after {
   content: attr(data-rel);
   left: 10%;
   position: absolute;
   top: 30%;
}

/*fin del grafico de pastel*/


/*Barras*/



#linea1 {
  background: #46c0ae;
  margin: 4px 0;
  text-align: right;
  padding: 3px 6px;
  display: block;
  width: 75%;
}
#linea2 {
  background: #46c0ae;
  margin: 4px 0;
  text-align: right;
  padding: 3px 6px;
  display: block;
  width: 20%;
}
#linea3 {
  background: #46c0ae;
  margin: 4px 0;
  text-align: right;
  padding: 3px 6px;
  display: block;
  width: 10%;
}
#linea4 {
  background: #46c0ae;
  margin: 4px 0;
  text-align: right;
  padding: 3px 6px;
  display: block;
  width: 45%;
}


.grafic {
  width: 100%;
  background: rgba( 64, 134, 147, .1 );
  padding: 3px 6px;
  border: solid black;
}


/*fin Barras*/

