@CHARSET "UTF-8";
.escaladoSlider{
	width: 100%;	
}
.figuraSlider{
	    text-align: center;	   	
    	height: 100%;
    	margin-left: 0px;
    	margin-right: 0px;
    	background-color: white;
    	margin-top: 0px;
}
.escaladofig{	
	width: 25%
}
#tituloNombre{
	text-align: center;
	color:white;
	font:bold 2em verdana, sans-serif;
	margin: 0px;	
}
#header{
	padding: 25px;
	background-color: #0288d1;
	margin: 0px;
	bold 
}
#titfrase{
	margin-top:2em;
	color:#a72186;
	font: bold 2em Georgia, serif;    
}
#frase{
	text-align: center;
	font:  1.5em Georgia, serif;    
}
#piefrase{
	font: bold 1em Georgia, serif;    
	margin-bottom: 3em;
}
#transparente{
	color:white;
	background-color: transparent;
	position: absolute;
	z-index: 1;
}

body{	
	color:#424242;
}
hgroup{
	text-align: center;
}
.barramenu{
	z-index: 2;
	background-color: rgba(97, 97, 97, 0.7)!important;
}

#derecho{	
	float:left;
	width: 65%;
	margin-left: 0px;
	text-align: center;
	
}
#izquierdo{
	float:right;
	width: 30%;
	margin-right: 0px;
}
.faseult{
	background-color: #5c2e91;
	color: white;
}

#pie{
	clear: both;
	text-align:center;
	padding:20px;
	border-top:2px solid #999999;
	background-color: #0288d1;
}

.display{
	padding: 10px;
}

#primerapt{
	width: 25%;
	float: left;
	margin-left: 0px;
	text-align: -webkit-right;
}
#segundapt{
	width: 25%;
	float: left;
	margin-left: 25%;
	text-align: center;
}
#tercerapt{	
	width: 25%;
	float: right;
	text-align: center;
}
.numer{
	text-align: center;
	border: 6px solid #0089d0;	
	width: 4em;
    padding: 1.5em;
    border-radius: 100px;
   font:bold 2em verdana, sans-serif;
   color:#a72186;
}
.textodenum{	
	font:bold 1em verdana, sans-serif;
	width: 8em;
	padding: 1.5em;
	color: black;
}

#cuadro{
	clear: both;
	float: left;
	margin:0px;
	width: 100%;
}
.masinfoico{
 	margin-left: 0px; 	
 	columns: 4;
 	height: initial;
 	text-align: center;
 	padding-top: 2em;
 }
 .icono{
	font: bold 15vh Georgia, serif;
	margin: 0px;
 }
 .texticono{
	font: bold 3vh Georgia, serif;
	margin: 0px;
 }
 #titico{
 	clear: both;
 	font: bold 2em Georgia, serif;    
 }
